* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #333333;
    line-height: 1.6;
    overflow: hidden;
}

/* Responsive Design */
@media (max-width: 768px) {

}
